body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: arial black;
}

.main {
    position: relative;
    margin-top: 3em;
    min-height: calc(100vh - 210px - 67px);
}

.main-can {
    margin-bottom: 1em;
}

@media only screen and (max-width: 500px) {
    

}