.p5-container canvas{

    position: absolute;
   
    font-family: Arial Black;
     
   
}
.p5-menu{
    font-family: Arial Black;  
    display: inline; 
    
   
}
.p5-title {
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0.6em;
    padding-top: 34px;
    border-bottom: 1px solid white;
}
.p5-menu-holder{
    margin-left: 8em;
}
.p5-menu-holder li{
    display: inline;
    padding: 0.5em;
    color: white;
    
}

.p5-menu li:hover {
    color: grey;
}

