
.works-container {
    border: 1px solid white;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding-bottom: 2em;
    margin-bottom: 1em;
}
.works-header{
    background-color: rgba(10, 53, 63, 1);
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-size: 1.5em;
    padding-left: 1em;
    font-family: Arial Black;
}
.works p{
    padding: 1em;
    font-family: Arial;
    text-align: left;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    letter-spacing: 0.11em;
    line-height: 1.5em;
}

.works-header a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 500px) {
    .works-header {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 320px) {
    .works-header {
        font-size: 0.7em;
    }
}